{% extends 'base.html' %}
{% load form_tags %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">✏️ Editar Síntoma</h2>

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.descripcion.label_tag }}
      {{ form.descripcion|add_class:"form-control" }}
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a href="{% url 'app:detalle_paciente' paciente.id %}" class="btn btn-secondary ms-2">Cancelar</a>
  </form>
</div>
{% endblock %}
